.ClassHeader {
    background-image: url('../../../Image & Icon/edgar-chaparro-sHfo3WOgGTU-unsplash.jpg');  
    background-size: cover;
    height: 70vh;
    overflow: hidden;
    margin-bottom: 70px;
}